@model HK_Database.Models.Chats

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChatData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChatData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChatId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
