@model HK_Database.Models.Chats

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChatData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChatData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
